body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.grades{
	margin-top: 95px;
}

.grades p{
	color: white;
	font-size: 16px;
}
.grades div{
	border-style: solid;
	border-width: 5px;
	border-color: #996633;
	border-radius: 20px;
	margin-bottom: 50px;
	background-color: #262626;
	margin-left: 100px;
	margin-right: 100px;
}

.remarkbtn{
	color: white;
	background-color: #cc0000;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 16px;
}
.remarkbtn:hover{
	background-color: black;
}

.request p{
	color: black;
	font-size: 16px;
}
input{
	position: relative;
	color: black;
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 400px;
	transition: border .5s;
}
.submitbtn{
	color: white;
	background-color: #cc0000;
	cursor: pointer;
}
.submitbtn:hover{
	background-color: black;
}
/* FOOTER */
#footer{
	background-color: black;
	bottom: 0;
	padding: 0.4px;
	width: 100%;
	overflow-x: hidden; 
	position: fixed;
 	
}
#footer a, p{
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 0px;
	font-size: 10px;

}

#footer a:hover{
	color: #FF9933;
}
