<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="img/png" href="/static/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<title> CSCB20 - HOME </title>
</head>
<body>


	<div class="container">
			<a class="logo" href=""> <img src="/static/logo.png"> </a>
		<div class="menu">
				
		</div>

	</div>

		<h1>THIS IS INSTRUCTOR</h1>

	<form method="post">

			<p>Enter your username: <input type=text name=username>
			<p>Enter your password: <input type=password name=password>
			<p><input type=submit value=Submit>
			</form>



		




	<div class="footer"> 

		<p> <a href="http://web.cs.toronto.edu/">  Uoft Department of Computer Science  </a> </p>
		<p> Designed by Emmanuel and Patrick </p>

	</div>

</body>
</html>