body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#dropDownMenu{
	width: auto;
	font-size: 16px;
}
.students{
	margin-top: 120px;
}

option{
	font-size: 16px;
	color: red;
	width: 100px;
}
.submitbtn{
	color: white;
	background-color: #cc0000;
	cursor: pointer;
	font-size: 16px;
	width: 100px;
	height: 30px;
	border-radius: 15px;
}
.submitbtn:hover{
	background-color: black;
}

.grades p{
	color: white;
	font-size: 16px;
}

.grades div{
	border-style: solid;
	border-width: 5px;
	border-color: #996633;
	border-radius: 20px;
	margin-bottom: 50px;
	background-color: #262626;
	margin-left: 100px;
	margin-right: 100px;
}

.gradechange {
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: block;
	margin-left: 45%;
	margin-right: 50%;
    width: 115px;
    height: 25px;
    background: #cc0000;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.gradechange:hover{
	background-color: black;
}

/* FOOTER CONTENT */

#footer{
	background-color: black;
	bottom: 0;
	padding: 0.4px;
	width: 100%;
	overflow-x: hidden;
	position: fixed;

}

#footer a, p{
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 0px;
	font-size: 10px;

}

#footer a:hover{
	color: #FF9933;
}


