<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="img/png" href="/static/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="stylesheet" type="text/css" href="/static/lectures.css">
	<title>Lectures - CSC B20</title>
</head>
<body>

		<!-- MENU -->

	<div class="container">

			<a class="logo" href="{{ url_for('index')}}"> <img src="/static/logo.png"> </a>
			<label class="menu-icon" for="checkbox"> &#9776 </label>
			<input type="checkbox" id="checkbox"/>

		<div class="menu">
				<a href="{{ url_for('index')}}"> Home </a>
				<a href="{{ url_for('resources')}}"> Resources </a>
				<a class="menu-1" href="{{ url_for('lectures')}}"> Lectures </a>
				<a href="{{ url_for('assignments')}}"> Assignments </a>
				<a href="{{ url_for('feedback')}}"> Feedbacks </a>
				<a href="{{ url_for('grades')}}" > Grades </a>
				<a href="{{ url_for('logout')}}" > LOG OUT </a>

		</div>

	</div>

	<div class="content">

	<!-- CONTENT -->
		<div class="title">
			<h1> LECTURES FOR THE YEAR</h1>
		</div>

		<p> Please print and bring these notes/worksheets to class.</p>

		<!-- WEEK LECTURES 1-4 -->
		<div class="lectures-1-4">
			<div class="week-1">
				<h3> Week 1</h3>
				<h5>Topic: Introduction & Databases </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
				
			</div>

			<div class="week-2">
				<h3> Week 2</h3>
				<h5>Topic: Relational Algebra </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-3">
				<h3> Week 3</h3>
				<h5>Topic: Schema Diagrams </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-4">
				<h3> Week 4</h3>
				<h5>Topic: SQL & MySQL </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>
		</div>


		<!-- WEEK LECTURES 5-8 -->
		
		<div class="lectures-5-8">
			<div class="week-5">
				<h3> Week 5</h3>
				<h5>Topic: MySQL Queries </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="#"> Code </a> </h5>
			</div>

			<div class="week-6">
				<h3> Week 6</h3>
				<h5>Topic: MySQL Joins </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-7">
				<h3> Week 7</h3>
				<h5>Topic: HTML & CSS </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-8">
				<h3> Week 8</h3>
				<h5>Topic: PHP </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>
		</div> 

		<!-- WEEK LECTURES 9-12 -->
		
		<div class="lectures-9-12">
			<div class="week-9">
				<h3> Week 9</h3>
				<h5>Topic: PHP & MySQL  </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-10">
				<h3> Week 10</h3>
				<h5>Topic: JavaScript and JQuery </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-11">
				<h3> Week 11</h3>
				<h5>Topic: jQuery, AJAX, JSON </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>

			<div class="week-12">
				<h3> Week 12</h3>
				<h5>Topic: Last Year's final </h5>
				<h5> Reading : </h5>
				<h5> Lecture Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> PDF </a> </h5>
				<h5> In Class Material : <a class="pdf" href="file:///Users/emmanueladebayo/Downloads/B20Week4.pdf"> Code </a> </h5>
			</div>
		</div> 

	</div>



	<div class="footer"> 

		<p> <a href="http://web.cs.toronto.edu/">  Uoft Department of Computer Science  </a> </p>
		<p> Designed by Emmanuel and Patrick </p>

	</div>





</body>
</html>