<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


		<div class="container">

			<a class="logo" href=""> <img src="/static/logo.png"> </a>
		

		<div class="menu">
				

		</div>

	</div>

		

		<div class="signupform">

			<div class="header">
			
			<h1>SIGN UP</h1>
			</div>
			
			<form method="post">
				
					
					<p> First Name: <br> 
						<input type=text name=login placeholder="login">
					
					<p> Last Name: <br>
						<input type=password name=signup placeholder="signup">

					<p> Choose a UserName: <br>  <p>{{taken}}</p>
						<input type=text name=login placeholder="login">
					
					
					<p> Choose a password: <br>
						<input type=password name=signup placeholder="signup">




					<p><input class="btn" type=submit value=Submit>
				

				</form>

		</div>


	<div class="footer"> 

		<p> <a href="http://web.cs.toronto.edu/">  Uoft Department of Computer Science  </a> </p>
		<p> Designed by Emmanuel and Patrick </p>

	</div>

</body>
</html>