<!DOCTYPE html>
<html>
<head>
	<title> Grades</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="shortcut icon" type="img/png" href="/static/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/student-grades.css">
	<link rel="stylesheet" type="text/css" href="/static/index.css">

</head>
<body onload="hide()">



	<!-- MENU -->

	<div class="container">

			<a class="logo" href="{{ url_for('index')}}"> <img src="/static/logo.png"> </a>
			<!-- This is for the 'Hamburger' Menu, link the label to the checkbox through ids -->
			<label class="menu-icon" for="checkbox"> &#9776 </label>
			<input type="checkbox" id="checkbox"/>

		<div class="menu">
				<a href="{{ url_for('index')}}"> Home </a>
				<a href="{{ url_for('calendar')}}"> Calendar</a>
				<a href="{{ url_for('announcements')}}"> Announcements </a>
				<a href="{{ url_for('resources')}}"> Resources </a>
				<a href="{{ url_for('lectures')}}"> Lectures </a>
				<a href="{{ url_for('assignments')}}"> Assignments </a>
				<a href="{{ url_for('statistics')}}"> Statistics </a>
				<a href="{{ url_for('feedback')}}"> Feedbacks </a>
				<a class= "menu-1" href="{{ url_for('grades')}}" > Grades </a>
				<a href="{{ url_for('logout')}}" > LOG OUT </a>

		</div>

	</div>
	<!-- END OF MENU -->

	<div class="grades">
		<h5>{{request}} </h5>
		
		{% for grade in student_grades %}
		<h3 class="user"> Grades for {{grade.firstname}} {{grade.lastname}}( <b> {{grade.username}} </b> )</h3>

		<div>
			<p> Midterm: {{grade.midterm}}</p>
		</div>

		<div>
			<p> Final Exam: {{grade.finalexam}}</p>
		</div>

		<div>
			<p> assignmnet1: {{grade.assignment1}}</p>
		</div>

		<div>
			<p> assignmnet2: {{grade.assignment2}}</p>
		</div>

		<div>
			<p> lab: {{grade.lab}}</p>
		</div>
		{% endfor %}
	</div>

	<button class="remarkbtn" onclick="remark()"> Request a Remark</button>

	<form class="request" method="post" id="remark">
			<h5>Please leave a reason as to why we should remark you work</h5>
			<p> <input type=text name=midterm placeholder="Type Midterm Request Here">
			<p> <input type=text name=finalexam placeholder="Type Final Exam Request Here">
			<p> <input type=text name=assignment1 placeholder="Type Assignment1 Request Here">
			<p> <input type=text name=assignment2 placeholder="Type Assignment2 Request Here">
			<p> <input type=text name=lab placeholder="Type Lab Request Here">
			<p><input class="submitbtn" type=submit value="Submit Request">
	</form>

	 

	<div id="footer"> 

		<p> <a href="http://web.cs.toronto.edu/">  Uoft Department of Computer Science  </a> </p>
		<p> Designed by Emmanuel and Patrick </p>

	</div>



	<!-- YOUR JAVASCRIPT FUNCTIONS -->

<script>
	
	function hide(){
		$('#remark').hide();
	}

	function remark(){
		$('#remark').show()
		$( "#footer" ).css( "position", "relative" );

	}

</script>

</body>
</html>


