<!DOCTYPE html>
<html>
<head>
	<title> Tutorials - CSC B20</title>
	<!-- favicon -->
	<link rel="shortcut icon" type="img/png" href="/static/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="stylesheet" type="text/css" href="/static/tutorials.css">
</head>
<body>

		<!-- MENU -->

<div class="container">

			<a class="logo" href=""> <img src="/static/logo.png"> </a>
			<label class="menu-icon" for="checkbox"> &#9776 </label>
			<input type="checkbox" id="checkbox"/>

		<div class="menu">
				<a href="{{ url_for('index')}}"> Home </a>
				<a class= "menu-1" href="{{ url_for('resources')}}"> Resources </a>
				<a href="{{ url_for('lectures')}}"> Lectures </a>
				<a href="{{ url_for('assignments')}}"> Assignments </a>
				
				<a href="{{ url_for('feedback')}}"> Feedbacks </a>
				<a href="{{ url_for('grades')}}" > Grades </a>
				<a href="{{ url_for('logout')}}" > LOG OUT </a>

		</div>

	</div>


	<div class="content">
		<div class="header">
			<h1>Tutorial Sections</h1>
			<p> Please go the tutorial section that you signed up for on ROSI </p>

			<h1> Tutorial Excercises </h1>
			<p>This section contains the tutorial exercises. Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource </p>
		</div>

		<div class="tut-2-4">

			<div class="week-2-tut">
				<h3> Week 2 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			<div class="week-3-tut">
				<h3> Week 3 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			<div class="week-4-tut">
				<h3> Week 4 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			
		</div>

		<div class="tut-5-7">

			<div class="week-5-tut">
				<h3> Week 5 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			<div class="week-6-tut">
				<h3> Week 6 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			<div class="week-7-tut">
				<h3> Week 7 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href=http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf> <h5> Solution </h5> </a>
			</div>
			
		</div>

		<div class="tut-8-10">

			<div class="week-8-tut">
				<h3> Week 8 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			<div class="week-9-tut">
				<h3> Week 9 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>

			<div class="week-10-tut">
				<h3> Week 10 </h3>
				<h5> Lab: <h5> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> Handout </a></h5> </h5>
				<a href="http://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf"> <h5> Solution </h5> </a>
			</div>
			
		</div>

	</div>


	<div class="footer"> 

		<p> <a href="http://web.cs.toronto.edu/">  Uoft Department of Computer Science  </a> </p>
		<p> Designed by Emmanuel and Patrick </p>

	</div>

</body>
</html>